/GridProviders/Linkedin/QueensGridProvider.ini
/GridProviders/Chromium/user/
*/__pycache__/
/.idea
/ChromeExtension/.idea/
/ChromeExtension/node_modules/
/ChromeExtension/node_modules/.package-lock.json
/ChromeExtension/src/toto.html
/GridProviders/Chromium/
/GridProviders/Linkedin/ZipGridProvider.ini
/Run/videos/
__init__.py
/videos/
/CSharp/.idea/