/GridProviders/Linkedin/QueensGridProvider.ini
/GridProviders/Chromium/user/
.idea/__pycache__/
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Puzzle.iml
/.idea/vcs.xml
