beautifulsoup4~=4.13.4
bitarray~=3.3.1
bs4~=0.0.2
configparser~=7.2.0
Flask~=3.1.0
moviepy~=2.1.2
numpy~=2.2.3
ortools~=9.12.454
parameterized~=0.9.0
playwright~=1.51.0
PuLP~=3.1.1
Pyomo~=6.9.2
PySCIPOpt~=5.3.0
PySMT~=0.9.6
requests~=2.32.3
setuptools~=75.8.0
sympy~=1.13.3
utils~=1.0.2