name: tests

on:
  workflow_dispatch:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run Python tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache testmon database
        uses: actions/cache@v4
        with:
          path: .testmondata
          key: ${{ runner.os }}-testmon-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-testmon-

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          extra-deps: pytest-testmon

      - name: Run tests
        run: |
          export PYTHONPATH=$GITHUB_WORKSPACE
          python -m pytest -v --testmon --ignore-glob='*long_test.py' --timeout=10
